// Feed Screen:

.event {
  margin-bottom: 6px;
  cursor: pointer;
}

.hoverImage {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 0;
  right: 0;
}
.portrait {
  max-width: 25%;
}
.landscape {
  max-width: 50%;
}

.event img {
  display: none;
  visibility: hidden;
}

.event:hover img {
  display: block;
  visibility: visible;
}

// .date {
//   margin-bottom: 6px;
// }

// Loading Animation

.rotate {
  animation: rotation 1s infinite linear;
  text-align: center;
}

.loading::after {
  content: "|";
  animation: rotation 1s infinite linear;
  display: inline-block;
  text-align: center;
}

/* Animations: */

@keyframes resize {
  to {
    grid-template-columns: 0 1fr 1fr 1fr 33.333%;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
