$bg-c: #cc6f57;
$break-small: 600px;
$break-large: 1200px;

@font-face {
	font-family: "Prophet";
	src: url("/assets/fonts/Prophet-Regular.otf") format("opentype")}

* {
  margin: 0;
  padding: 0;
}




html {
	font-size: 62.5%
}

body {
	font-family: "Prophet";
	height: 100%;
	width: 100%;
	background-color: $bg-c;
	font-size: 1.2rem
}

p {
	font-size: 1.1em;
}

a,
a:active,
a:hover,
a:visited {
	color: #000
}

input,
button {
	border: 1px solid #000;
	background: transparent;
	border-radius: 0px;
	padding: 1px 2px;
	font-family: inherit
}

select {
	border: 1px solid #000;
	-webkit-appearance: none;
	border-radius: 0px;
	background: transparent;
	font-family: inherit
}

fieldset {
	display: block
}

ul {
	list-style: none
}




.row {
    display: grid;
    grid-template-columns: 33.333% 1fr 1fr 1fr;
	height: 100vh;
	
	@media screen and (max-width: $break-small) {
		display: grid;
		grid-template-columns: 100% 50% 50% 100%;
	}
}

.row > div {
  overflow-y: scroll;
  padding: 0 15px;

  @media screen and (max-width: $break-small) {
	  overflow-y: auto;
  }
}


.welcome {
  margin-top: 40%;
	padding-left: 18px;
  vertical-align: middle;
  max-width: 320px;
  
}

.welcome h1 {
	font-size: 1.1em;
	font-weight: 200;
	font-style: normal;
	@media screen and (max-width: $break-small) {
		position: absolute;
		top: 10%;
		display: block;
		font-style: normal;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
	  }
}

.welcome span {
	animation: rotation 1s infinite linear;
	text-align: center;
}

.rotate {
	animation: rotation 1s infinite linear;
	text-align: center;
}

img.logo, p {
  max-width: 320px;
}


.event {
  margin-bottom: 6px;
}


// About seciont

.about {
	p {
		margin-bottom: 10px;
		font-size: 1.1em;
	}
}



/* Animations: */



@keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}