// Variables

$bg-c: #cc6f57;
$c2: #4366CC;
$break-small: 600px;
$break-large: 1200px;

// Basics

@font-face {
	font-family: "Prophet";
	src: url("/assets/fonts/Prophet-Regular.otf") format("opentype")}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
	font-size: 62.5%
}

body {
	font-family: "Prophet";
	height: 100%;
	width: 100%;
	background-color: $bg-c;
	font-size: 1.2rem
}

p {
	font-size: 1.1em;
}



a,
a:active,
a:hover,
a:visited {
	color: #000
}

p, h1, h2, h3, ul {
	cursor: default;
}

::selection {
	background-color: $c2;
}


input,
button {
	border: 1px solid #000;
	background: transparent;
	border-radius: 0px;
	padding: 1px 2px;
	font-family: inherit;
}

form {
	width: 100%;

}

label {
	display: block;
}

input:focus {
	outline: none;
}

select {
	border: 1px solid #000;
	-webkit-appearance: none;
	border-radius: 0px;
	background: transparent;
	font-family: inherit
}

fieldset {
	display: block
}

ul {
	list-style: none
}


// Grid options

.row {
	display: flex;
	width: 100vw;

	height: 100vh;

	@media screen and (max-width: $break-small) {
		height: 100vh;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100% 100% 100%;
		grid-template-areas: 
							"intro intro"
							"about about"
							"projects feed";
	}

}


.row > div {
  overflow-y: scroll;
  padding: 0 15px;
  transition: all 2s;

  @media screen and (max-width: $break-small) {
	  overflow-y: auto;
  }
}

.row > .intro {
	flex: 0 0 33.333%;

	@media screen and (max-width: $break-small) {
		grid-area: intro;
	}
	
}

.row > .about {
	flex: 1;
	@media screen and (max-width: $break-small) {
		grid-area: about;
	}
}
.row > .projects {
	flex: 1;

	@media screen and (max-width: $break-small) {
		grid-area: projects;
	}

	img {
		max-width: 100%;
		
	}

}
.row > .feed {
	flex: 1;

	@media screen and (max-width: $break-small) {
		grid-area: feed;
	}
	img {
		width: 100%;
		position: relative;
	}

	.date {
		text-decoration: underline;
	}
	
}


.row > .card {
	display: none;
	flex: 0;
	opacity: 0;
}


// Grid shifted:

.row.shifted {
	display: flex;
}
.row.shifted > .card {
	transition: all 2s;
	flex: 0 0 33.333%;
}
.row.shifted > .intro {
	flex-basis: 0;
}

button.btn__open__card {
	@media screen and (max-width: $break-small) {
		display: none;
	}
}


//  Description:
.product__desc {
	display: flex; 
	
}


.add__cart {
	display: flex;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	font-size: 1.1em;
	
}





// Welcome Screen

.welcome {
  margin-top: 40%;
  padding-left: 18px;
  vertical-align: middle;
  max-width: 320px;

  @media screen and (max-width: $break-small) {
	  padding: 0;
  }
  
}

.welcome h1 {
	font-size: 1.1em;
	font-weight: 200;
	font-style: normal;
	margin-bottom: 80px;
	@media screen and (max-width: $break-small) {
		position: absolute;
		top: 10%;
		display: block;
		font-style: normal;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
	  }
}

.welcome span {
	animation: rotation 1s infinite linear;
	text-align: center;
}


.email {
	margin-top: 100px;
}
// Intro 
.rotate {
	animation: rotation 1s infinite linear;
	text-align: center;
	
}

img.logo {
  max-width: 320px;
}


.event {
  margin-bottom: 6px;
  cursor: pointer;


}

.hoverImage {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	max-width: 20%;

}

.event img {
	visibility: hidden;

}

.event:hover img {
	visibility: visible;
}

.date {
	margin-bottom: 6px;
  }


// About Section

.about {
	p {
		margin-bottom: 10px;
		font-size: 1.1em;
		line-height: 1.5em;
		text-align: justify
	}
}


// feed:
.loading::after {
	content: "|";
	animation: rotation 1s infinite linear;
	display: inline-block;
	text-align: center;
}



/* Animations: */

@keyframes resize {
	to {
		grid-template-columns: 0 1fr 1fr 1fr 33.333%;
	  }
}


@keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}