$bg-c: #cc6f57;



* {
  margin: 0;
  padding: 0;
}


html {
	font-size: 62.5%
}

body {
	height: 100%;
	width: 100%;
	background-color: $bg-c;
	font-size: 1.2rem
}

a,
a:active,
a:hover,
a:visited {
	color: #000
}

input,
button {
	border: 1px solid #000;
	background: transparent;
	border-radius: 0px;
	padding: 1px 2px;
	font-family: inherit
}

select {
	border: 1px solid #000;
	-webkit-appearance: none;
	border-radius: 0px;
	background: transparent;
	font-family: inherit
}

fieldset {
	display: block
}

ul {
	list-style: none
}




.row {
    display: grid;
    grid-template-columns: 33.333% 1fr 1fr 1fr;
    height: 100vh;
}

.row > div {
  overflow-y: scroll;
  padding: 0 15px;
}


.welcome {
  margin-top: 40%;
	padding-left: 18px;
  vertical-align: middle
  
}

img.logo, p {
  max-width: 320px;
}


.event {
  margin-bottom: 6px;
}


/* Animations: */

.rotate {
	animation: rotation 1s infinite linear;
	text-align: center;
}

@keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}